h1 {
  font-size: 24px;
  padding: 16px 8px 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

p {
  text-align: center;
}

img {
  width: 200px;
  border-radius: 50%;
}

.image {
  text-align: center;
}